.git
.github
.idea
.venv
.pytest_cache
__pycache__
*.py[cod]
*.log
.coverage
.DS_Store

.env
.env.*
!.env.example
!.env.production.example

media
staticfiles
celerybeat-schedule*
docker-compose.override.yml
