__pycache__/
*.pyc
.env
.venv/
staticfiles/
media/
.pytest_cache/
.coverage
celerybeat-schedule*

# IDE / OS
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db

# Local DB / logs
db.sqlite3
src/db.sqlite3
*.log
*.drawio
*.mmd
db-schema.md
.drawio.bkp

# Local compose overrides
docker-compose.override.yml


